<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>React &amp; EXP Chat App</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:100" rel="styleshet" type="text/css" />
  <style>
    html {
      font-family: 'Roboto', sans-serif;
      color: #7e57c2;
      background-color: #fff
    }
  </style>
</head>

<body>

  <div id="react-root"></div>

</body>

</html>